<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="POST">
            <div class="form-group">
                <label for="inhName">Inhabitant Name:</label>
                <input th:value="${inhabitant.getName()}" name="inhName" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
        </form>
    </div>
</div>