<div class="row justify-content-center">
    <div class="col-md-8">

        <div class="row justify-content-around">
            <form action="/buildings/create">
                <button type="submit" class="btn btn-primary">Register New Building</button>
            </form>
            <form action="/employees/">
                <button type="submit" class="btn btn-primary">Manage Employees</button>
            </form>
        </div>

        <th:block th:if="${buildings.size()==0}">
            <div style="margin-top:30px;" class="row justify-content-center">
                <p>There are currently no buildings to manage.
                    <br>
                    Click on the '<strong>Register new Building</strong>' button to add a new building.
                </p>

            </div>
        </th:block>

        <div style="margin-top:30px;" class="building-list">
            <ul class="list-group">
                <th:block th:each="building : ${buildings}">
                    <li class="list-group-item">
                        <th:block th:text="${building.getAddress()}"></th:block>
                        <div style="float:right;">
                            <th:block th:if="${building.getManager()} != null">
                                <p class="mr-5" style="float: left; margin-bottom: 0; color:green;" th:text="'Managed by: ' + ${building.getManager().getLastName()}"></p>
                            </th:block>
                            <th:block th:if="${building.getManager()} == null">
                                <p class="mr-5" style="float: left; margin-bottom: 0; color:red;" >Building has no manager!</p>
                            </th:block>
                            <a th:href="'/buildings/' + ${building.getId()} + '/edit'" style="float:right">Edit</a>

                        </div>

                    </li>
                </th:block>
            </ul>
        </div>
    </div>

</div>